:root {
    --primary: #10b981;
    /* VERT ÉMERAUDE DYNAMIQUE */
    --primary-light: #34d399;
    --primary-dark: #059669;
}

#logo {
    animation: logoGlow 4s ease-in-out infinite alternate;
}

@keyframes logoGlow {
    from {
        filter: drop-shadow(0 0 10px rgba(16, 185, 129, 0.4));
    }

    to {
        filter: drop-shadow(0 0 30px rgba(16, 185, 129, 0.9));
    }
}