:root {
    --primary: #6366f1;
    /* BLEU INDIGO DYNAMIQUE */
    --primary-light: #818cf8;
    --primary-dark: #4f46e5;
}

#logo {
    animation: logoGlow 4s ease-in-out infinite alternate;
}

@keyframes logoGlow {
    from {
        filter: drop-shadow(0 0 10px rgba(99, 102, 241, 0.4));
    }

    to {
        filter: drop-shadow(0 0 30px rgba(99, 102, 241, 0.9));
    }
}